[bumpversion]
# x-release-please-start-version
current_version = 2.9.0
# x-release-please-end
commit = True
tag = True
tag_name = v{new_version}

[bumpversion:file:hasta_la_vista_money/__init__.py]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
