@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/static/fonts/local/GolosText-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/static/fonts/local/Geist-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/static/fonts/local/Inter-VariableFont_opsz,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/static/fonts/local/Montserrat-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/local/IBMPlexMono-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/static/fonts/local/IBMPlexMono-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/static/fonts/local/IBMPlexMono-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/static/fonts/local/Caveat-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/static/fonts/local/GloriaHallelujah-Regular.ttf')
    format('truetype');
}
