{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load csp %}
{% load comma %}


{% block title %}{% translate 'Список чеков' %}{% endblock %}


{% block content %}
<div class="receipts-app">
    <div class="receipts-wrap">
        {% include 'receipts/filter.html' %}

        <header class="receipts-header">
            <div>
                <div class="receipts-kicker">{% translate 'Чеки' %}</div>
                <h1 class="receipts-title">{% translate 'Мои чеки' %}</h1>
            </div>
            <div class="receipts-actions">
                <a href="{% url 'users:statistics' %}" class="receipts-button receipts-button-secondary">
                    <i class="bi bi-bar-chart"></i>
                    {% translate 'Детальная статистика' %}
                </a>
                <a href="{% url 'receipts:create' %}" class="receipts-button receipts-button-primary">
                    <i class="bi bi-plus-lg"></i>
                    {% translate 'Добавить чек' %}
                </a>
            </div>
        </header>

        {% include 'receipts/partials/_results.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% load static %}
    {% load word_hash %}
    <script nonce="{{request.csp_nonce}}" src="{% static 'js/dist/pages/receipts.js' %}?v={% word_hash %}"></script>
{% endblock %}
