{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load csp %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">{% translate 'Загрузите изображение чека' %}</h2>
    <form method="post" enctype="multipart/form-data" class="mx-auto w-50">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.account.label_tag }}
            {{ form.account }}
        </div>
        <div class="mb-3">
            {{ form.file.label_tag }}
            {{ form.file }}
        </div>
        <button type="submit" class="btn btn-success">{% translate 'Загрузить' %}</button>
    </form>
</div>
<!-- /.container -->
{% endblock %}