{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load csp %}
{% load index %}
{% load comma%}

{% block title %}{% translate 'Таблица доходов' %}{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-4 text-center">{% translate 'Таблица доходов' %}</h2>
    <div class="d-flex justify-content-start mb-2">
        <a href="{% url 'budget:list' %}" class="btn btn-outline-secondary">← {% translate 'Назад' %}</a>
    </div>
    <div class="mb-5">
        <div id="income-budget-table"></div>
    </div>
</div>
{% endblock %}
