{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Страница входа' %}{% endblock %}
{% block content %}
    <div class="container bg-secondary-subtle d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <h1 class="text-dark text-uppercase">Hasta La Vista, Money!</h1>
        <p class="text-dark-emphasis text-center">{% translate 'Удобная домашняя бухгалтерия. Управляй финансами семьи грамотно!' %}</p>
        <h5 class="text-body-tertiary">Вход в приложение</h5>
        <form method="post" class="form text-body-secondary">
            {% csrf_token %}
            <p class="my-4">
                {% if user_login_form %}
                    {% for field in user_login_form %}
                        <div class="mb-3">
                            {{ field|as_crispy_field }}
                            {% if field.errors %}
                                <div class="invalid-feedback d-block">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if user_login_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in user_login_form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </p>
            <div class="row align-items-center justify-content-center">
                <div class="row justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success">{% translate 'Войти' %}</button>
                </div>
            </div>
        </form>
    </div>

{% if redirect_to %}
<script nonce="{{request.csp_nonce}}">
  window.location.href = "{{ redirect_to }}";
</script>
{% endif %}

{% endblock %}
