{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Страница входа' %}{% endblock %}
{% block content %}
    <div class="container bg-secondary-subtle d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <h1 class="text-dark text-uppercase">Hasta La Vista, Money!</h1>
        <p class="text-dark-emphasis text-center">{% translate 'Удобная домашняя бухгалтерия. Управляй финансами семьи грамотно!' %}</p>
        <h5 class="text-body-tertiary">Вход в приложение</h5>
        <form method="post" class="form text-body-secondary">
            {% csrf_token %}
            <p class="my-4">
                {{ user_login_form | crispy }}
            </p>
            <div class="row align-items-center justify-content-center">
                <div class="row justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success">{% translate 'Войти' %}</button>
                </div>
            </div>
        </form>
    </div>

{% if jwt_access_token and redirect_to %}
<script nonce="{{request.csp_nonce}}">
  localStorage.setItem('access_token', '{{ jwt_access_token }}');
  {% if jwt_refresh_token %}
  localStorage.setItem('refresh_token', '{{ jwt_refresh_token }}');
  {% endif %}
  window.location.href = "{{ redirect_to }}";
</script>
{% endif %}

{% endblock %}
