{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% translate 'Установка нового пароля для пользователя ' %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <h1 class="text-dark">Новый пароль для пользователя {{ user.username }} установлен!</h1>
        <a href="{% url 'finance_account:list' %}" class="btn btn-success">{% translate 'Установить новый пароль' %}</a>
    </div>
{% endblock %}