{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% translate 'Установка нового пароля для пользователя ' %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="container d-flex min-vh-100 flex-column justify-content-center align-items-center">
        <h1 class="text-dark">Установка нового пароля для пользователя {{ user.username }}</h1>
        <form method="post" class="text-dark help-text-form">
            {% csrf_token %}
            <p class="my-4">
                {{ form_password | crispy }}
            </p>
            <div class="row align-items-center justify-content-around">
                <div class="col-xl-12">
                    <button type="submit" class="btn btn-success">{% translate 'Установить новый пароль' %}</button>
                    <a href="{% url 'users:profile' user.pk %}" class="btn btn-success">{% translate 'Вернуться назад' %}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
