{% load i18n %}
{% load crispy_forms_tags %}

<div class="modal fade" id="transferMoneyModal" tabindex="-1" aria-labelledby="transferMoneyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="transferMoneyModalLabel">
            <i class="bi bi-arrow-left-right me-2"></i>{% translate 'Перевести средства' %}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <hr class="m-0">
        <div class="modal-body">
          <form method="post" action="{% url 'finance_account:transfer_money' %}">
              {% csrf_token %}
              {{ transfer_money_form|crispy }}
              <button type="submit" class="btn btn-primary w-100 mt-3">
                  <i class="bi bi-arrow-right-circle me-1"></i> {% translate 'Перевести' %}
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>