{# Load the tag library #}
{% load csp %}
{% load static %}
{% load i18n %}
{% load word_hash %}
{% load compress %}


<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Hasta La Vista, Money!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link nonce="{{request.csp_nonce}}" rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}?v={% word_hash %}" type="image/x-icon">
        <link nonce="{{request.csp_nonce}}" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link nonce="{{request.csp_nonce}}" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.8/css/bootstrap.min.css" rel="stylesheet" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous">
        <link nonce="{{request.csp_nonce}}" href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
        {% endcompress %}
    {% endblock %}
</head>
<body data-bs-theme="{% if user.is_authenticated %}{{ user.theme|default:'light' }}{% else %}light{% endif %}">
    {% if user.is_authenticated %}
        <div class="header">
            {% include 'header.html' %}
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert container position-absolute start-50 translate-middle mt-5 text-center z-3 {% if message.tags %}{{ message.tags }}{% endif %}">
                    <span{% if message.tags %} class="{{ message.tags }} p-2 "{% endif %}>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert container position-absolute start-50 translate-middle text-center z-3 {% if message.tags %}{{ message.tags }}{% endif %}">
                    <span{% if message.tags %} class="{{ message.tags }} p-2 "{% endif %}>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    {% block content %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% include '_bottom_nav.html' %}
        {% include '_mobile_menu.html' %}
    {% endif %}

    <script nonce="{{request.csp_nonce}}" src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script nonce="{{request.csp_nonce}}" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script nonce="{{request.csp_nonce}}" type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>

    {% compress js %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/errors_form.js' %}"></script>
    <script src="{% static 'js/account_group_filter.js' %}"></script>
    <script src="{% static 'js/lazy-loader.js' %}"></script>
    {% if user.is_authenticated %}
        <script src="{% static 'js/bottom-nav.js' %}"></script>
        <script src="{% static 'js/mobile-menu.js' %}"></script>
        <script src="{% static 'js/upload.js' %}"></script>
    {% endif %}
    {% endcompress %}
    <script nonce="{{request.csp_nonce}}">
        (function() {
            if (typeof window.LazyLoader === 'undefined') {
                console.warn('LazyLoader not available, falling back to immediate loading');
                return;
            }

            const currentPath = '{{ request.path|escapejs }}';
            const cspNonce = '{{ request.csp_nonce|escapejs }}';

            function loadScript(src) {
                return window.LazyLoader.loadScript(src, {
                    nonce: cspNonce
                });
            }

            if (currentPath.indexOf('receipts') !== -1) {
                loadScript('{% static "js/tokens.js" %}').then(function() {
                    return loadScript('{% static "js/receipt_group_filter.js" %}');
                }).then(function() {
                    if (currentPath.indexOf('update') !== -1) {
                        return loadScript('{% static "js/receipt_update.js" %}');
                    }
                }).catch(function(error) {
                    console.error('Error loading receipt scripts:', error);
                });
            }

            if (currentPath.indexOf('budget') !== -1) {
                loadScript('{% static "js/budget.js" %}').catch(function(error) {
                    console.error('Error loading budget script:', error);
                });
            }

            if (currentPath.indexOf('users') !== -1) {
                loadScript('{% static "js/theme.js" %}').catch(function(error) {
                    console.error('Error loading theme script:', error);
                });
            }

            if (currentPath.indexOf('income') !== -1 && currentPath.indexOf('budget') === -1) {
                loadScript('{% static "js/income_table.js" %}').catch(function(error) {
                    console.error('Error loading income_table script:', error);
                });
            }

            if (currentPath.indexOf('expense') !== -1 && currentPath.indexOf('budget') === -1) {
                loadScript('{% static "js/expense_table.js" %}').catch(function(error) {
                    console.error('Error loading expense_table script:', error);
                });
            }

            if (currentPath.indexOf('loan') !== -1) {
                loadScript('{% static "js/loan.js" %}').catch(function(error) {
                    console.error('Error loading loan script:', error);
                });
            }
        })();
    </script>
    {% block extra_js %}
    {% endblock %}
    <script nonce="{{request.csp_nonce}}">
        window.SET_THEME_URL = "{% url 'users:set_theme' %}";
        window.LOGIN_URL = "{% url 'users:login' %}";
        window.GROUPS_FOR_USER_URL = "{% url 'users:ajax:groups_for_user' %}";
        window.GROUPS_NOT_FOR_USER_URL = "{% url 'users:ajax:groups_not_for_user' %}";
    </script>
</body>
</html>
