name: hasta-la-vista-money
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.11, 3.12, 3.13 ]

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      redis:
        image: redis:8-alpine
        ports:
          - 6379:6379
        options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.14.2'

      - name: Setup uv and Handle Its Cache
        uses: hynek/setup-cached-uv@2a4a9b893253e16cf11e6def5f774336af2f80bc
        with:
          version: "0.9.7"

      - name: Install ruff
        uses: astral-sh/ruff-action@56403b4f7c3080af74b05e36fab1a365bce009a6
        with:
          version: "0.12.8"
      - run: ruff check --fix
      - run: ruff format

      - name: Install dependencies
        run: |
          uv venv .venv && uv pip install -e '.[dev]'

      - name: Check migrations are up-to-date
        run: uv run python manage.py makemigrations --check --dry-run
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          REFRESH_TOKEN_LIFETIME: ${{ secrets.REFRESH_TOKEN_LIFETIME }}
          ACCESS_TOKEN_LIFETIME: ${{ secrets.ACCESS_TOKEN_LIFETIME }}
          REDIS_LOCATION: redis://localhost:6379/1
          GITHUB_WORKFLOW: true

      - name: Run check
        run: uv run python manage.py check
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          REFRESH_TOKEN_LIFETIME: ${{ secrets.REFRESH_TOKEN_LIFETIME }}
          ACCESS_TOKEN_LIFETIME: ${{ secrets.ACCESS_TOKEN_LIFETIME }}
          REDIS_LOCATION: redis://localhost:6379/1
          GITHUB_WORKFLOW: true

      - name: Run migrations
        run: uv run python manage.py migrate
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          REFRESH_TOKEN_LIFETIME: ${{ secrets.REFRESH_TOKEN_LIFETIME }}
          ACCESS_TOKEN_LIFETIME: ${{ secrets.ACCESS_TOKEN_LIFETIME }}
          REDIS_LOCATION: redis://localhost:6379/1
          GITHUB_WORKFLOW: true

      - name: Run Tests with Coverage
        run: make coverage
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/github_actions
          REFRESH_TOKEN_LIFETIME: ${{ secrets.REFRESH_TOKEN_LIFETIME }}
          ACCESS_TOKEN_LIFETIME: ${{ secrets.ACCESS_TOKEN_LIFETIME }}
          REDIS_LOCATION: redis://localhost:6379/1
          GITHUB_WORKFLOW: true

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@a38818475bb21847788496e9f0fddaa4e84955ba
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: 'coverage.xml'
