
name: Safety Action

on:
  push:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: Install uv
        run: pip install uv==0.7.13
      - name: Generate uv.lock
        run: uv lock
      - name: Run Safety CLI to check for vulnerabilities
        uses: pyupio/safety-action@c14ed93c5cacd34d2ac287fe5d0622f697d6a5f4
        with:
          api-key: ${{ secrets.SAFETY_API_KEY }}
